<phpunit colors="true" bootstrap="tests/bootstrap.php">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <!--<directory suffix=".php">Server/.</directory>-->
            <file>Server/db.php</file>
            <file>Server/methods_base.php</file>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Base">
            <file>tests/methodsTestFree.php</file>
            <file>pluginDocumentTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>

