<phpunit colors="true" bootstrap="tests/bootstrap.php" processIsolation="true">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <file>Server/DbSqlController.php</file>
            <directory suffix=".php">Server/sql</directory>
            <directory suffix=".php">Server/db</directory>
            <file>Server/methods_base.php</file>
            <file>Server/autoload.php</file>
            <file>Server/DbSqlController.php</file>
            <file>Server/ConfigBase.php</file>
            <file>Server/ApplicationInitBase.php</file>
            <file>Server/services_methods.php</file>
            <file>Server/WebStorage.php</file>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Base">
            <file>tests/TestPostgresql.php</file>
            <!--<file>tests/TestServicesMethods.php</file>
            <file>tests/TestWebStorage.php</file>
            <file>tests/methodsTestFree.php</file>
            <file>tests/TestSQL.php</file>
            <file>tests/TestDataBase.php</file>
            <file>tests/TestServer.php</file>
            <file>tests/TestApplicationInitBase.php</file>
            <file>pluginDocumentTest.php</file>
            <file>tests/TestDataBaseMySQL.php</file>-->
        </testsuite>
    </testsuites>
</phpunit>